html,
body,
div,
img {
    margin: 0.01px;
    padding: 0.01px;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'REM', sans-serif;
}

header,
/* nav, */
aside,
main,
article,
figure,
p,
section,
footer,
div {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 100%;
    min-height: 3vh;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    /* 或您想要的任何顏色 */
}


h1,
h2,
h3,
h4 {
    margin: 0.1rem 0;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
    padding-left: 20px;
}

h3 {
    font-size: 2.5rem;
    padding-left: 40px;
}

h4 {
    font-size: 2rem;
    font-style: italic;
    padding-left: 60px;
}

h5 {
    margin: 12px;
    padding-left: 24px;
}

section {
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 10vh;
    padding-bottom: 8vh;
}

#webbody {
    background-size: cover;
    color: white;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;

    width: 100vw;
    margin: 0.1px;
    padding: 0.1px;
    background: linear-gradient(to right, #30282d 30%, #4b7487 50%, #5c879a 60%, #dbd2ca 90%);
    box-shadow: 0px 5px 10px #30282d;
    position: fixed;
    top: 0%;
    z-index: 2;
}

nav a {
    border-radius: 5%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: none;
    min-width: calc(100vw / 8.5);
}

nav a {
    position: relative;
    color: white;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.8s ease;
    transition: color 0.5s ease;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: black;
    transition: width 0.5s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    /* 在原始顏色上添加20%的白色 */
}

nav a:hover::after {
    width: 100%;
}

.navdiv {
    text-align: center;
    line-height: 5vh;
    font-weight: 700;
    font-size: 1.5vw;
    border: none;
}

.header {
    height: 100vh;
}

#intro {}

#intro h4 {
    margin-top: 9vh;
    text-align: justify;
}

#speakers {
    width: 100w;
    height: 120vh;
}

#speakers main {
    --b: .5em;
    /* border width */
    --c: 3em;
    /* corner size */
    --r: 2em;
    /* corner rounding */
    position: relative;
    border: solid var(--b) transparent;
    padding: 0px;
    font: 1.25em ubuntu, sans-serif;

    &::before {
        position: absolute;
        z-index: -1;
        inset: calc(-1*var(--b));
        border: inherit;
        border-radius: var(--r);
        background: linear-gradient(#dbd2ca, #6aa1bb, #3f7d99) border-box;
        --corner:
            conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0) 0 0/ calc(100% - var(--c)) calc(100% - var(--c)) border-box;
        --inner: conic-gradient(red 0 0) padding-box;
        -webkit-mask: var(--corner), var(--inner);
        -webkit-mask-composite: source-out;
        mask: var(--corner) subtract, var(--inner);
        content: ''
    }
}

#speakers,
#speakers div,
#speakers main {
    border: none;
}

#speakers main {
    position: absolute;
    width: 90%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    margin-left: -3vw;
}


.speaker_box {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    width: 45%;
    height: 40%;
    padding: 12px;
    border-radius: 10% 25%;
}

.sb_img {
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    background-image: url('../images/LEL.jpg');
    background-size: contain;
    margin-bottom: 10vw;
    flex: 0 0 auto;
}

.sb_txt {}

.sb_txt h3,
.sb_txt h4 {
    padding-left: 24px;
    padding-top: 8px;
    margin: 0;

}

.sb_txt h3 {
    color: black;
}

.sb_txt h5 {
    color: chocolate;
}

.sb_txt {
    color: cadetblue;
}