.ENTL2 {
    text-align: center;
    transform: scaleX(1);
}

#introtitle {
    margin-top: 20px;
}

.flexcontant {
    margin-top: 2vh;
}

.IM_title {
    font-weight: 900;
}

.IM_contant {
    margin-top: 4vh;
    text-align: justify;
}

.IM_contant p {
    margin: 4px;
}

.topboard {
    justify-content: flex-end
}

.topboard-left-1 {
    text-align: justify;
    font-weight: 500;
}

.topboard-left-2 {
    letter-spacing: 5px;

}

.PhoneBr {
    display: none;
}


@media (max-width: 768px) {
    .topboard {
        justify-content: flex-start;
    }

    .topboard-left-1 {
        font-size: 20px;
        white-space: normal;
        font-weight: 700;
    }

    .topboard-left-2 {
        display: none;
    }

    .topboard-middle {
        display: none;
    }

    .topboard-right {
        width: 70%;
        margin-left: 5%;
    }

    .topboard-right div {
        font-weight: 300;
        box-shadow: inset 0 0 5px rgba(95, 158, 160, 0.4);
    }

    .IM_title {
        margin-left: 3vw;
    }

    .IM_title_txt {
        font-size: 22px;
    }

    .IM_frontblock {
        width: 4vw;
    }

    .topboardblock {
        height: 18vh;
    }

    .IM_contant {
        letter-spacing: normal;
        font-weight: 300;
    }

    .phoneBr {
        width: 1vw;
    }

    .photobtn_left {
        display: none;
    }

    .photobtn_right {
        display: none;
    }

    .photohighlights {
        margin-bottom: 10vh;
    }

    .photohighlight {
        width: 60vw;
    }

    .dropdown-menu {
        right: 35%;
        width: 30%;
    }


    .buttons {
        display: none;
    }

    #mainvideo {
        width: 100%;
    }

    #videocontant {
        height: 35vh;
        width: 100%;
    }

    .flexcontant {
        margin: 1vw;
        margin-top: 3vh;
        width: 95%;
        display: block;
    }

    #videointro {
        background-color: #39b3af54;
        width: 84vw;
        padding: 3vw;
        margin: 3vw;
    }

    .vh15-2023 {
        display: none;
    }

    .AMcontain {
        margin-top: 0vh;
        height: auto;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

}