@media (max-width: 768px) {
    .topboard {
        justify-content: flex-start;
    }

    .topboard-left {
        margin-top: -2vh;
    }

    .topboard-left-1 {
        font-size: 5vmin;
        white-space: normal;
        font-weight: 700;
    }

    .topboard-left-2 {
        font-size: 2vmin;
        transform: scaleY(0.8);
        white-space: normal;
    }

    .topboard-middle {
        display: none;
    }

    .topboard-right {
        width: 70%;
        margin-left: 5%;
    }

    .topboard-right div {
        font-weight: 300;
        box-shadow: inset 0 0 5px rgba(95, 158, 160, 0.4);
    }

    .topboardblock {
        height: 18vh;
    }

    .IM_title_txt {
        font-size: 22px;
    }

    .IM_frontblock {
        width: 4vw;
    }

    .topboardblock {
        height: 18vh;
    }

    .IM_contant {
        letter-spacing: normal;
        font-weight: 300;
    }

    .photobtn_left {
        display: none;
    }

    .photobtn_right {
        display: none;
    }

    .photohighlights {
        margin-bottom: 10vh;
    }

    .photohighlight {
        width: 60vw;
    }

    .dropdown-menu {
        right: 35%;
        width: 30%;
    }

    #videointro {
        display: none;
    }

    #videocontant {
        height: 35vh;
        width: 100%;
    }

    .flexcontant {
        margin: 1vw;
        margin-top: 3vh;
        width: 95%;
    }

    .IM_title_txt {
        width: 43vw;
    }


}