.ENTL2 {
    text-align: center;
    transform: scaleX(1);
}

#introtitle {
    margin-top: 20px;
}

.flexcontant {
    margin-top: 2vh;
}

.IM_title {
    font-weight: 900;
}

.IM_contant {
    margin-top: 4vh;
    text-align: justify;
}

.IM_contant p {
    margin: 4px;
}

.topboard {
    justify-content: flex-end
}

.topboard-left-1 {
    text-align: justify;
    font-weight: 500;
}

.topboard-left-2 {
    letter-spacing: 0.45vw;
}